body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background: #002533;
    font-family: 'Roboto', sans-serif;
  }
  
  button {
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    outline: 0;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
  
    &.get-in-touch {
      background-color: #000000; // Button background color
      border-radius: 50px;
      padding-left: 3rem;
      padding-right: 3rem;
      display: flex;
      align-items: center;
      transition: color 0.3s ease; // Smooth transition for color change
  
      &:hover {
        color: rgb(0, 255, 255);
      }
  
      img.button__image {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
    /* Ripple styles */
    span.ripple {
      position: absolute;
      border-radius: 50%;
      pointer-events: none;
      background: rgb(216, 49, 49); // Color of the ripple
      transform-origin: center;
    
      &-enter {
        animation: ripple-enter 600ms ease-out forwards;
      }
    
      &-leave {
        animation: ripple-leave 600ms ease-out forwards;
      }
    }
    
    /* Ripple animation keyframes */
    @keyframes ripple-enter {
      from {
        transform: scale(0);
        opacity: 1;
      }
      to {
        transform: scale(1);
        opacity: 1;
      }
    }
    
    @keyframes ripple-leave {
      from {
        transform: scale(1);
        opacity: 1;
      }
      to {
        transform: scale(0);
        opacity: 1;
      }
    }
  }
  

  